body {
    /*background: #00c9fc;*/
    background: whitesmoke;
}

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

h2 {
    color: mediumpurple;
}

h3 {
    border: 1px solid black;
}

input {
    border: 1px darkred solid;
}

#p_deep_learning {
    color: #3421ef;
    width: 600px;
}
#mytextblock {
    border: 1px solid gray;
    width: 800px;
    height: 400px;
}

p {
    font-family: Arial;
}

.spectrum_table {
    margin: auto;
}

.spectrum_table td {
    width: 200px;
    height: 400px;
    background: #000000;
    border: 6px solid white;

}

#table_1 {
    background: #ffff27;
}
#table_2 {
    background: #95C623;
}
#table_3 {
    background: #34ffa8;
}
#table_4 {
    background: #28a4ef;
}
#table_5 {
    background: #40ffff;
}
#table_6 {
    background: #8e80ff;
}
#table_7 {
    background: #8225ff;
}
#table_8 {
    background: #d20aff;
}